/*COLOR SCHEME
  red: ed553b NEW fc3c3c or fd384f
  darkblue: 183243
  grey: c7cbcf
  blue: 068587

*/

/*//////////SHARED STUFF////////////////////*/

body,
.ng-scope {
  font: 14pt "Raleway", sans-serif;
  margin: 0;
  /*overflow:scroll;*/
}

body{
    padding-bottom:4em;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* make scrollbar transparent */
}

.horizontal {
  display: flex;
  flex-direction: row;
}

.roundInp {
  background: rgba(255, 255, 255, 1) !important;
  border: none !important;
  border-radius: 15px !important;
  text-align: center;
  padding: 3px !important;
  margin: 0 2vh;
  height: 2em !important;
}

select:focus, input:focus {
  border-color: #f8b500;
  outline: none;
}

a {
  text-decoration: none;
  color: #068587;
  cursor:pointer;
}

a:focus {
  text-decoration: none!important;
  color: lightgrey;
}

h1 {
  font-weight: 600;
  font-size: 4vh;
  padding:1em;
}

h3 {
  white-space: nowrap;
}

.itemInfo > h3{
  white-space: initial;
}

.button {
  color: white;
  background-color: #ed553b;
  /*box-shadow: 3px 3px 10px grey;*/
  text-align: center;
  border-radius: 30px;
  padding: .8em 2em;
  margin: 0 1em;
  align-self: center;
  font-size:smaller;
  font-weight:500;
}

.button:hover {
  box-shadow: 3px 3px 5px lightgrey;
  text-decoration: none;
  color: white;
}

li {
  list-style-type: none;
  padding: .4em;
}

select,
input[type="tel"],
input[type="email"] {
  border: none !important;
  border-bottom: 2px solid #c7cbcf !important;
  border-radius: 0 !important;
  outline: none;
  box-shadow: none;
}

select:focus,
input[type="tel"]:focus,
input[type="email"]:focus {
  border-bottom: 2px solid #068587 !important;
  outline: none;
  box-shadow: none;
}

/*input:invalid {*/
/*  border-color: red;*/
/*}*/



.vertical {
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}

.center{
  justify-content:center;
  margin:1em;
}


/*/////////////INTRO PAGE/////////////*/

#mainBackg {
  height: 110%;
  background-color: #183243;
  color: white;
  text-align: center;
  background-image: url(../images/aisle.jpg);
  /* parallax */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.shade {
  background-color: rgba(24,50,67, .7);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*flex: 1;*/
  margin: 0 4vh;
  color: #c7cbcf;
  align-items:center;
  height:15%;
}

.logo {
  height:3em;
  opacity:.9;
}

.logoText{
  font-size: medium;
  font-family: 'Quicksand', sans-serif;
  letter-spacing:1px;
}

.white{
  color:white;
}

.loginCont {
  display: flex;
  flex-direction: row;
}

.titleCont > h1{
  font-size: 6vh;
}

.startBtn {
  width: 10%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:1em;
  padding: 1em 5em;
  border: 4px solid #ed553b;
}

.startBtn:hover {
  color: #ed553b;
  background-color: rgba(0, 0, 0, 0);
  border: 4px solid #ed553b;
  box-shadow:none;
}

.loginText{
  font-weight:500;
  font-size:larger;
}

.titleCont {
  flex: 6;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titleCont > p{
  color: #c7cbcf;
}

#introMessage {
  padding-bottom: 1em;
}

#infoCont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infoBar {
  width: 100%;
  text-align: center;
  padding: 4em 0;
}

.downArrow{
  padding:.5em;
  font-size:40px;
  color:#c7cbcf;
  cursor:pointer;
}
.downArrow:hover{
  box-shadow: 3px 3px 5px lightgrey;
  color:#ed553b;

}

.grey {
  background: #c7cbcf;
  color: white;
  font-size: larger;
}

.boldFont {
  font-size: larger;
  font-weight: 600;
  line-height:2em;
}

.space-evenly{
  justify-content:space-evenly;
}

.fancy{
  color: #068587;
  font-weight:500;
  font-size:larger;
  width:80%;
}

.infoBar > p{
  padding:1em;
}

.divider:first-child{
  border-right:2px solid white;
}

/*/////////////HOME PAGE/////////////*/

.mainBody{
  flex:6;
}

.sortDrop{ 
  padding:2em 3em 0 3em;
  align-items:center;
  font-size:smaller;
  justify-content:flex-end;
}

.itemList {
  padding: 1em 2em;
  display: flex;
  flex-wrap: wrap;
  align-items:flex-end;
  /*flex-wrap: nowrap;*/
  /*overflow-x: auto;*/
}

.item {
  flex: 0 0 auto;
  /*box-shadow: 1px 1px 10px lightgrey;*/
  padding: 1em;
  margin: .5em 1em;
  /*border-radius:5px;*/
  text-align: center;
  border-bottom: 2px solid #c7cbcf;
  width:14em;
  cursor:pointer;
}

.item:hover {
  border-bottom: 2px solid #ed553b;
}

.itemImg {
  height: 40%;
  padding:1em;
  align-self:center;
}

.smallImg{
  height:unset;
  width:8vw;
}

.pgTitle {
  color: #112f41;
  padding: 0 1em !important;
}

.bold{
  font-weight:bold;
}

#addVendor {
  padding: 2em;
}

.addItem {
  /*flex: 0 0 auto;*/
  text-align: center;
  padding: 1em;
}

.add {
  color: #068587;
  font-size: 4em;
}

.add:hover {
  color: #ed553b;
}

.itemCont{
  height:45%;
}

.infoText{
  font-size:smaller;
  color:grey
}

.lilBtn{
  font-size:xx-small;
  background-color: transparent;
  border:2px solid #068587;
  color: #068587;
  white-space: nowrap;
}

.lilBtn:hover{
  background-color: #068587;
  color: white;
}

/*///////POPUP STYLING///////*/

.itemEditImg {
  height: 20vh;
}

.popupAction {
  padding: 2em 1em;
}

.buttonsCont {
  float: right;
  margin-top: 2em;
}

.saveBtn {
    /*padding: .8em 2em;*/
    margin: 0;
    margin-left: .5EM;
    border: 2px solid #ed553b;
}

.cancel {
  background-color:transparent;
  color: #c7cbcf;
  border: 2px solid #c7cbcf;
}
.cancel:hover{
  color:white;
  background-color: #c7cbcf;
}

.modal-body {
  max-height: 80%;
  padding: 2em;
}

input[type="text"], input[type="date"]{
  background: rgba(255, 255, 255, 0);
  border: none;
  border-bottom: 2px solid #c7cbcf;
  border-radius: 0;
  outline: none;
  box-shadow: none;
  width:100%;
  /*margin-left:1em;*/
  /*height:100%;*/
}

input[type="text"]:focus, input[type="date"]:focus{
  border-bottom: 2px solid #068587;
  outline: none;
  box-shadow: none;
}

.searchCont{
  margin-left:auto;
  margin-right:auto;
  width:80%;
  padding:2em;
}

body.modal-open .datepicker {
    z-index: 1200 !important;
}

.itemForm{
  font-size:medium;
}

.datePicker{
  height:100% !important;
}

.name{
  min-height:3.5em;
}

/*////////////// SEARCH////////////////*/
.result{
  margin: 1em 3em;
  border-left: 2px solid #c7cbcf;
  cursor:pointer;
  
}

.result:hover{
    border-left: 2px solid #ed553b;
}

.noItems{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    color: #c7cbcf;
    font-size:larger;
}



/*/////////SKIPPED DIALOG/////////////*/
.check{
  color: lightgreen;
  font-size:40px;
}

.modal-backdrop
{
  background-color:#c7cbcf !important;
    opacity:0.5 !important;
}

.modal{
  border:none;
}