<html>

<head>
    <title>Breeze Buy</title>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.js"></script>
    <script src="http://angular-ui.github.com/bootstrap/ui-bootstrap-tpls-0.1.0.js"></script>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand|Raleway:400,400i,500,600" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="javascripts/orders.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">

</head>

<body ng-app="orders" ng-controller="MainCtrl">
    <div class="vertical">
        <div class="header">
            <div>
                <img class="logo" src="/images/BBlogo-grey.svg"></img>
                <span class="logoText">BREEZE BUY</span>
            </div>
    
            <i class="material-icons md-36" style="font-size:36px">account_circle</i>
        </div>
        
        <div class="mainBody">
            <div class="horizontal">
                <h1 class="pgTitle">My Re-Purchases</h1>
                <a class="button" href="search.html">+ITEM</a>
            </div>
    
            <div class="itemList">
                <div ng-repeat="item in customerItems | orderBy: orderByDate">
                    <div class="item" ng-click="editItem($event, item)">
    
                        <!--TODO: text max-width should be width + padding of item-->
                        <div class="vertical itemCont">
                            <div class="name bold">{{item.name}}</div>
                            <img class="itemImg" src={{item.img}}>
                            <div>
                                <div class="infoText"><i>${{item.price}}</i></div>
                                <div ng-show="item.autoOrder" class="infoText">Reordering every {{item.orderEvery}}</div>
                                <div ng-show="!item.autoOrder" class="infoText">Reminding every {{item.orderEvery}}</div>
                                <div ng-show="item.autoOrder" class="infoText">Next order: {{item.nextOrder}}</div>
                                <div ng-show="!item.autoOrder" class="infoText">Next reminder: {{item.nextOrder}}</div>
    
                                <div class="horizontal center">
                                    <a ng-click="skipOrder($event, item)" class="button lilBtn">SKIP NEXT ORDER</a>
                                    <a ng-click="deleteItem($event, item)" class="button lilBtn">DELETE</a>
                                </div>
                            </div>
    
                        </div>
    
                    </div>
                </div>
            </div>
    
        </div>
    </div>
</body>

</html>
