<html>

<head>
    <title>SimpleOrder</title>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.js"></script>
    <script src="http://angular-ui.github.com/bootstrap/ui-bootstrap-tpls-0.1.0.js"></script>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="javascripts/orders.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">

    <link href="air-datepicker/dist/css/datepicker.min.css" rel="stylesheet" type="text/css">
    <script src="air-datepicker/dist/js/datepicker.min.js"></script>

    <!-- Include English language -->
    <script src="dist/js/i18n/datepicker.en.js"></script>

</head>

<body ng-app="orders" ng-controller="MainCtrl">

    <input type='text' class='datepicker-here' data-language='en' />

    <div class="header">
        <div class="logo">LOGO</div>
        <i class="material-icons md-36">account_circle</i>
    </div>
    <div class="horizontal">
        <h1 class="pgTitle">My Re-Purchases</h1>
        <a class="button" href="search.html">+ITEM</a>
    </div>
    <div class="mainBody">
        <!--<p>Date: <input type="text" id="datepicker"></p>-->
    <a type="button"
        data-remote='www.google.es'
        data-toggle="modal" 
        data-target="#myModal">Launch modal</a>
    
        <div class="itemList">
            <div ng-repeat="item in items | orderBy: 'item.nextOrder'">
                <div class="item" ng-click="editItem($event, item)">

                    <!--TODO: text max-width should be width + padding of item-->
                    <div class="vertical itemCont">
                        <div class="name bold">{{item.name}}</div>
                        <img class="itemImg" src={{item.img}}>
                        <div>
                            <div class="infoText"><i>${{item.price}}</i></div>
                            <div class="infoText">Reordering every {{item.reorderPeriod}}</div>
                            <div class="infoText">Next order placed: {{item.nextOrder}}</div>
                        </div>

                    </div>
                
    
                    <!--<div class="modal hide" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">-->
                    <!--    <div class="modal-body">-->
                    <!--        <div class="horizontal">-->
                    <!--            <img class="itemEditImg" src={{item.img}}>-->
                    <!--            <div>-->
                    <!--                <h2>{{item.name}}</h2>-->
                    <!--                <p>${{item.price}}</p>-->
                                    <!--prime-->
                    <!--                <p>{{item.itemDescript}}</p>-->
                    <!--                <p>Next order to be placed on {{item.nextOrder}}</p>-->
                    <!--            </div>-->
                    <!--        </div>-->
                    <!--        <div class="popupAction">-->
                    <!--            <div ng-show="!item.edit" class="addButtons horizontal">-->
                    <!--                <div class="button">ADD PURCHASE REMINDER</div>-->
                    <!--                <div class="button">ADD AUTOMATED PURCHASE</div>-->
                    <!--            </div>-->
                    <!--            <div ng-show="item.edit && !item.autoOrder" class="reminderCont">-->
                    <!--                <h3>Purchase Reminder</h3>-->
                    <!--                <div class="horizontal">-->
                    <!--                    <p>Remind me to order every</p>-->
                    <!--                    <select class="timedrop">-->
                    <!--                        <option val="day">day</option>-->
                    <!--                        <option val="week">week</option>-->
                    <!--                        <option val="biweek">two weeks</option>-->
                    <!--                        <option val="month">month</option>-->
                    <!--                        <option val="bimonth">two months</option>-->
                    <!--                      </select>-->
                    <!--                </div>-->
                    <!--                <div class="schedule">-->
                    <!--                    <p>Next reminder on</p>-->
                                        <!--datepicker-->

                    <!--                    <input type='text' class='datepicker-here' data-language='en' />-->

                                        <!--<p class="input-group">-->
                                        <!--  <input type="date" class="form-control" ng-model="modal.dt" is-open="main.opened" close-text="Close" />-->
                                        <!--<span class="input-group-btn">-->
                                        <!--  <button type="button" class="btn btn-default form-control" ng-click="main.opened = true" ng-model="modal.dt" is-open="main.opened">-->
                                        <!--    <i class="material-icons md-24">calendar_today</i>-->
                                        <!--  </button>-->
                                        <!--</span>-->
                                        <!--</p>-->

                    <!--                </div>-->
                                    <!--TODO: monthly STARTING WHEN-->
                    <!--                <p><i>Via:</i></p>-->
                    <!--                <ul class='reminderList'>-->
                    <!--                    <li><input type="checkbox" ng-checked="item.text"> text to <input type="tel" placeholder={{item.text}} ng-model="phone"></li>-->
                    <!--                    <li><input type="checkbox" ng-checked="item.email"> email to <input type="email" placeholder={{item.email}} ng-model="email"></li>-->
                    <!--                    <li><input type="checkbox" ng-checked="item.mobile"> mobile notification</li>-->
                    <!--                </ul>-->
                    <!--            </div>-->
                    <!--            <div ng-show="item.edit && item.autoOrder" class="autoCont horizontal">-->
                    <!--                <p>Automatically order every-->
                    <!--                    <p>-->
                    <!--                        <select class="timedrop">-->
                    <!--                            <option value="day" ng-selected="item.reorderPeriod == day">day</option>-->
                    <!--                            <option value="week" ng-selected="item.reorderPeriod == week">week</option>-->
                    <!--                            <option value="biweek" ng-selected="item.reorderPeriod == biweek">two weeks</option>-->
                    <!--                            <option value="month" ng-selected={{item.reorderPeriod}}}>month</option>-->
                    <!--                            <option value="bimonth" ng-selected="item.reorderPeriod == bimonth">two months</option>-->
                    <!--                          </select>-->
                    <!--            </div>-->
                    <!--            <div ng-show="item.edit" class="buttonsCont">-->
                    <!--                <a ng-click="close()" class="button saveBtn cancel">CLOSE</a>-->
                    <!--                <a ng-click="save()" class="button saveBtn">SAVE</a>-->
                    <!--            </div>-->
                    <!--        </div>-->
                    <!--    </div>-->
                    <!--</div>-->

                </div>
            </div>
        </div>

    </div>
</body>

</html>
