<div class="modal-body">
  <div class="horizontal">
    <img class="itemEditImg" src={{item.img}}>
    <div class="itemInfo">
      <h3>{{item.name}}</h3>
      <p ng-show="item.multResults" title="Other vendor(s) offer a lower price on item" style="color:#ed553b">${{item.price}}**</p>
      <p ng-show="!item.multResults">${{item.price}}</p>
      <p>{{item.vendor}}</p>
      <a href={{item.itemDescript}}>Link to item <i class="material-icons md-24">launch</i></a>
    </div>
  </div>

  <div class="popupAction">
    <div ng-show="!item.edit" class="addButtons horizontal">
      <div class="button" ng-click="addReminder(item)">ADD PURCHASE REMINDER</div>
      <div class="button" ng-click="addAutoPurch(item)">ADD AUTOMATED PURCHASE</div>
    </div>
    <p ng-show="!item.edit && item.multResults" class="priceAlert"><span style="color:#ed553b">**</span>Other vendor(s) offer a lower price on item</p>

    <div class="itemForm" ng-show="item.edit">
      <h3 ng-show="!item.autoOrder">Purchase Reminder</h3>
      <h3 ng-show="item.autoOrder">Automatic Order</h3>

      <table ng-show="item.edit">
        <tbody>
          <tr>
            <td ng-show="!item.autoOrder">
              <p>Remind me to purchase every</p>
            </td>
            <td ng-show="item.autoOrder">
              <p>Automatically purchase every</p>
            </td>
            <td>
              <select class="timedrop" ng-model="item.orderEvery">
                <option value="day">day</option>
                <option value="week">week</option>
                <option value="two weeks">two weeks</option>
                <option value="month" selected>month</option>
                <option value="three months">three months</option>
                <option value="six months">six months</option>
              </select>
            </td>
          </tr>
          <tr>
            <td ng-show="!item.autoOrder">
              <p>Next reminder on</p>
            </td>
            <td ng-show="item.autoOrder">
              <p>Next purchase on</p>
            </td>
            <!--<td><input type="date" class="form-control" ng-model="modal.dt" is-open="main.opened" value="{{item.nextOrder}}" close-text="Close" /></td>-->

            <td><input type="date" class="datePicker" value="{{item.nextOrder || today}}" min="{{minDate}}"></td>
          </tr>
        </tbody>
      </table>

      <p ng-show="!item.autoOrder" style="padding-top:1em"><i>Via:</i></p>
      <p ng-show="item.autoOrder" style="padding-top:1em"><i>Notify me of purchase via:</i></p>
      <ul class='reminderList'>
        <li><input type="checkbox" ng-model="item.usePhone"> text to <input type="tel" placeholder="(123)456-7890" ng-model="item.phone"></li>
        <li><input type="checkbox" ng-model="item.useEmail"> email to <input type="email" ng-model="item.email" placeholder="email@mail.com"></li>
        <li><input type="checkbox" ng-model="item.mobileNotif"> mobile notification</li>
      </ul>

      <div class="buttonsCont">
        <a ng-click="close()" class="button saveBtn cancel">CLOSE</a>
        <a ng-show="item.autoOrder" ng-click="addAutoItem(item)" class="button saveBtn">SAVE</a>
        <a ng-show="!item.autoOrder" ng-click="addReminderItem(item)" class="button saveBtn">SAVE</a>
      </div>

    </div>

  </div>


</div>
