<html>

<head>
    <title>Breeze Buy</title>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.js"></script>
    <script src="http://angular-ui.github.com/bootstrap/ui-bootstrap-tpls-0.1.0.js"></script>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="javascripts/orders.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>

<body ng-app="orders" ng-controller="MainCtrl">
    <!--<div class="vertical">-->
        <div class="header">
            <div>
                <a href="/mainPg.html"><img class="logo" src="/images/BBlogo-grey.svg"></img></a>
                <span class="logoText">BREEZE BUY</span>
            </div>
            <div style="background-color:lightgrey"></div>

            <i class="material-icons md-36" style="font-size:36px" title="Account settings coming soon!">account_circle</i>
        </div>

        <div class="mainBody">
            <h1 class="backg">Search Products</h1>
            <div class="horizontal searchCont">
                <i class="material-icons">search</i>
                <input type="text" class="searchBar" ng-model="searchPhrase">
            </div>
            <div class="searchResults">
                <div class="result horizontal" ng-repeat="item in searchResults  | orderBy: item.price" id={{item.id}} ng-click="selectItem($event, item)">
                    <img class="itemImg smallImg" src={{item.img}}>
                    <div style="padding-top:1em">
                        <div class="name">{{item.name}}</div>
                        <div class="price">${{item.price}}</div>
                        <div class="vendor">{{item.vendor}}</div>
                    </div>
                </div>
            </div>
        </div>
        
    <!--</div>-->
    <!-- TODO: add commonly bought items here -->
</body>

</html>
